<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sirclo Test - Berat</title>
</head>
<body>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div>
						<h2>
							Create <b>Berat</b>
						</h2>
					</div>
					<form th:action="@{/berat-create}" th:object="${berat}"
						method="POST">
						<input type="hidden" th:field="*{id}" />
						<div>
							<label>Tanggal (DD-MM-YYYY)</label> <input type="text" class="form-input"
								th:field="*{date}" required>
						</div>
						<div>
							<label>Berat Max</label> <input type="text" class="form-input"
								th:field="*{beratMax}" required>
						</div>
						<div>
							<label>Berat Min</label> <input type="text" class="form-input"
								th:field="*{beratMin}" required>
						</div>
						<div>
							<input type="submit" class="btn btn-success" value="Submit"
								style="margin-left: 545px"> <a href="/berat"
								class="btn btn-danger"><span>Cancel</span></a>
						</div>
					</form>
				</div>
			</div>


		</div>
	</div>
	
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#tgl').datepicker({
				format : "dd/mm/yyyy"
			});
		});
	</script>
</body>
</html>
