<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sirclo Test - Berat</title>
</head>
<body>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div>
						<h2 style="margin-left: 17px">Berat</h2>

					</div>

				</div>
			</div>
			<div th:if="${not #lists.isEmpty(berat)}">
				<table class="table table-striped tble-hover">
					<tr>
						<th>ID</th>
						<th>Tanggal</th>
						<th>Berat Max</th>
						<th>Berat Min</th>
						<th>Perbedaan</th>
						<th>Action</th>
					</tr>

					<tr th:each="berats : ${berat}">
						<td th:text="${berats.id}"></td>
						<td th:text="${berats.date}"></td>
						<td th:text="${berats.beratMax}"></td>
						<td th:text="${berats.beratMin}"></td>
						<td th:text="${berats.beratMax}-${berats.beratMin}"></td>
						<td><a style="font-size: 12px" th:object="${berat}"
							th:href="@{/berat-show/{id}(id=${berats.id})}"><span>Show</span></a>
							<a style="font-size: 12px" th:object="${berat}"
							th:href="@{/berat-edit/{id}(id=${berats.id})}"><span>Edit</span></a>
							<a style="font-size: 12px" th:object="${berat}"
							th:href="@{/berat-delete/{id}(id=${berats.id})}"><span>Delete</span></a>
						</td>
					</tr>
				</table>
			</div>
			<a href="/berat-create" class="btn btn-success"><span>Add
								Berat</span></a>
		</div>
	</div>
</body>
</html>
